extends layouts/main.pug
include mixins/movieBlock

block content
    if filtered
        .search_header
            h3 Searching by #{type} : #{searchingBy}

    .movies
        each movie in movies
            +movieBlock({
                id: movie.id,
                title: movie.title
            })
            
    