extends layouts/main.pug
include mixins/movieBlock

block content
    .movies
        each movie in movies
            +movieBlock({
                title: movie.title_english,
                year: movie.year,
                summary: movie.summary
            })
            
    